<div class="app-content background" [ngStyle]="{'background-image': backgroundImage}" [@fade]="fadeStatus" ></div>
<div class="app-content foreground" >
  <div class="dropdown" [ngClass]="dropdownExpanded ? 'is-active' : ''">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4" (click)="toggleDropdown()">
        <span>{{currentUnit}}</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
      <div class="dropdown-content">
        <div *ngFor="let unit of units">
          <a (click)="unitChanged(unit)" *ngIf="unit === currentUnit" class="dropdown-item is-active"> {{unit}} </a>
          <a (click)="unitChanged(unit)" *ngIf="unit !== currentUnit" class="dropdown-item"> {{unit}} </a>
        </div>
      </div>
    </div>
  </div>

  <div class="converter" [ngSwitch]="currentUnit">
    <app-temperature-converter *ngSwitchCase="'Temperature'"></app-temperature-converter>
    <app-length-converter *ngSwitchCase="'Length'"></app-length-converter>
    <app-area-converter *ngSwitchCase="'Area'"></app-area-converter>
    <app-volume-converter *ngSwitchCase="'Volume'"></app-volume-converter>
    <app-time-converter *ngSwitchCase="'Time'"></app-time-converter>
    <app-date-converter *ngSwitchCase="'Date'"></app-date-converter>
    <app-weight-converter *ngSwitchCase="'Weight'"></app-weight-converter>
  </div>
</div>
